.stokdashboard-part1{


    width: 30%;
}

.stokdashboard-part2{


    width: 60%;
    margin-left: 25%;
   

    
}


.data{

    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}